[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
requests = "*"
psycopg2-binary = "*"
dotenv = "*"
redis = "*"
httpx = "*"
orjson = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
